<div>
    <h3 style="text-decoration: underline;">Add Teacher</h3>
    <table border="1px">



        <tr>
            <td><input type="text" [(ngModel)]="teacher.teacherName" placeholder="Enter Teacher Name"></td>
        </tr>

        <tr>
            <td><input type="text" [(ngModel)]="teacher.teacherPhone" placeholder="Enter Teacher address"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="teacher.teacherAddress" placeholder="Enter Teacher contact"></td>
        </tr>
        <!--tr>
            <td><input type="text" [(ngModel)]="teacher.specification" placeholder="Enter Teacher Specialized"></td>
        </tr>-->


      

    </table>
    <button (click)="createTeacher()">Create</button>
</div>