
<div>
    <table border="solid 0.5px">
        <tr>
        <th>
            TeacherId
        </th>
        <th>
            TeacherName
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <!--th>
            Specialized
        </th-->
    </tr>  
    <tr *ngFor="let t of teacher">
        <td>{{t.teacherId}}</td>
        <td>{{t.teacherName}}</td>
        <td>{{t.teacherPhone}}</td>
        <td>{{t.teacherAddress}}</td>
        <!--td>{{t.specification}}</td-->
    </tr>    
    </table>
    <h3>Delete Teacher By Id</h3>
    <input type="number" [(ngModel)]="id"/>
    <button (click)="deleteTeacher()">Delete Teacher By Id</button>

    
    </div>