<p>studentbyid works!</p>
<div>
<h3>Student Search By Id</h3>
<input type="number" [(ngModel)]="id"/>
<button (click)="getStudentsById()">Fetch Student By Id</button>
<table border="1px">
<tr>
    <tr>
        <th>
            StudentId
        </th>
        <th>
            StudentName
        </th>
        <th>
            StudentAddress
        </th>
        <th>
            StudentPhone
        </th>
        <th>
            StudentEmergency Contact
        </th>
    </tr>  
    <tr *ngFor="let student of students">
        <td>{{student.studentId}}</td>
        <td>{{student.studentName}}</td>
        <td>{{student.studentAddress}}</td>
        <td>{{student.studentPhone}}</td>
        <td>{{student.studentEmergencycontact}}</td>
    </tr>   
</table>
</div>