
<div>
    <h3>Teacher Search By Id</h3>
    <input type="number" [(ngModel)]="id"/>
    <button (click)="getTeacherById()">Fetch Teacher By Id</button>
    <table border="1px">
        <tr>
            <th>
                Teacher Id
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Teacher Phone 
            </th>
            <th>
                Teacher Address
            </th>
            <!--th>
                specification
            </th-->
        </tr>  
        <tr *ngFor="let t of teacher">
            <td>{{t.teacherId}}</td>
            <td>{{t.teacherName}}</td>
            <td>{{t.teacherPhone}}</td>
            <td>{{t.teacherAddress}}</td>
            <!--td>{{t.specification}}</td-->
        </tr>     
    </table>
</div>