<div>
    <h3>Subject List</h3>

</div>

<table border="solid">
    <tr>
    <th>
        SubjectId
    </th>
    <th>
        SubjectName
    </th>
  
</tr>  
<tr *ngFor="let subject of subjects">
    <td>{{subject.subjectId}}</td>
    <td>{{subject.subjectName}}</td>
   
</tr>    
</table>