

<div>
    <table border="1px">
        <tr>
            <tr>
                <th>
                    StudentId
                </th>
                <th>
                    StudentName
                </th>
                <th>
                    StudentAddress
                </th>
                <th>
                    StudentPhone
                </th>
                <th>
                    StudentEmergencycontact
                </th>
            </tr>  
            <tr *ngFor="let student of students">
                <td>{{student.studentId}}</td>
                <td>{{student.studentName}}</td>
                <td>{{student.studentAddress}}</td>
                <td>{{student.studentPhone}}</td>
                <td>{{student.studentEmergencycontact}}</td>
            </tr>   
        </table>
<h3>Student Delete By Id</h3>
<input type="number" [(ngModel)]="id"/>
<button (click)="deleteStudent()">Delete Student By Id</button>

</div>