<div>
    <h3 style="text-decoration: underline;">Add Student</h3>
    <table border="1px">


        <tr>
            <td><input type="text" [(ngModel)]="student.studentName" placeholder="Enter Student Name"></td>
        </tr>


        <tr>
            <td><input type="text" [(ngModel)]="student.studentId" placeholder="Enter Student Id"></td>
        </tr>

        <tr>
            <td><input type="text" [(ngModel)]="student.studentPhone" placeholder="Enter Student Phone"></td>
        </tr>

        <tr>
            <td><input type="text" [(ngModel)]="student.studentAddress" placeholder="Enter Student Address"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="student.studentEmergencycontact" placeholder="Enter Student Emergency contact"></td>
        </tr>


    </table>
    <button (click)="createStudent()">Create</button>
</div>