<div>
    <h3>Teacher List</h3>

</div>

<table>
    <tr>
    <th>
        Teacher Id
    </th>
    <th>
        Teacher Name
    </th>
    <th>
        Teacher Phone
    </th>
    <th>
        Teacher Address
    </th>
    
</tr>  
<tr *ngFor="let t of teacher">
    <td>{{t.teacherId}}</td>
    <td>{{t.teacherName}}</td>
    <td>{{t.teacherPhone}}</td>
    <td>{{t.teacherAddress}}</td>
    <!--td>{{t.specification}}</td-->
</tr>    
</table>