<div>
    <h3>Student List</h3>

</div>

<table class="table table-sm">
    <thead class="thead-dark">
    <tr>
    <th>
        StudentId
    </th>
    <th>
        StudentName
    </th>
    <th>
        StudentAddress
    </th>
    <th>
        StudentPhone
    </th>
    <th>
        Student Emergency contact
    </th>
</tr>  </thead>
<tr *ngFor="let student of students">
    <td>{{student.studentId}}</td>
    <td>{{student.studentName}}</td>
    <td>{{student.studentAddress}}</td>
    <td>{{student.studentPhone}}</td>
    <td>{{student.studentEmergencycontact}}</td>
</tr>    
</table>