
<div>
    <h3>Teacher List</h3>

</div>

<table>
    <tr>
    <th>
        TeacherId
    </th>
    <th>
        TeacherName
    </th>
    <th>
        Address
    </th>
    <th>
        Contact
    </th>
    <th>
        Specialized
    </th>
</tr>  
<tr *ngFor="let t of teacher">
    <td>{{t.teacherId}}</td>
    <td>{{t.teacherName}}</td>
    <td>{{t.teacherAddress}}</td>
    <td>{{t.teacherPhone}}</td>
    <!--td>{{t.specification}}</td-->
</tr>    
</table>


<div>
    <h3 style="text-decoration: underline;">Update Teacher</h3>
    
    <table border="1px">
        <tr>
            <td><input type="text" [(ngModel)]="t.teacherId" placeholder="Enter Teacher Id"></td>
        </tr>


        <tr>
            <td><input type="text" [(ngModel)]="t.teacherName" placeholder="Enter Teacher Name"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="t.teacherAddress" placeholder="Enter Teacher Address"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="t.teacherPhone" placeholder="Enter Teacher phone"></td>
        </tr>


    
    </table>
    <button (click)="updateTeacher()">update</button>
</div>
