<table>
    <tr>
    <th>
        StudentId
    </th>
    <th>
        StudentName
    </th>
    <th>
        studentAddress
    </th>
    <th>
        StudentPhone
    </th>
    <th>
        studentEmergencycontact
    </th>
</tr>  
<tr *ngFor="let student of students">
    <td>{{student.studentId}}</td>
    <td>{{student.studentName}}</td>
    <td>{{student.studentAddress}}</td>
    <td>{{student.studentPhone}}</td>
    <td>{{student.studentEmergencycontact}}</td>
</tr>    
</table>
<br/>
<div>
    <h3 style="text-decoration: underline;">Update Student</h3>
    
    <table border="1px">
        <tr>
            <td><input type="text" [(ngModel)]="student.studentId" placeholder="Enter Student Id"></td>
        </tr>


        <tr>
            <td><input type="text" [(ngModel)]="student.studentName" placeholder="Enter Student Name"></td>
        </tr>


        <tr>
            <td><input type="text" [(ngModel)]="student.studentAddress" placeholder="Enter Student Address"></td>
        </tr>

        <tr>
            <td><input type="text" [(ngModel)]="student.studentPhone" placeholder="Enter Student Phone"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="student.studentEmergencycontact" placeholder="Enter Student Emergency contact"></td>
        </tr>

    </table>
    <button (click)="updateStudent()">update</button>
</div>
